/*@media screen and (min-width: 480px) and (max-width: 1200px){*/

/*}*/

@media only screen and (max-width: 1169px) {
    .download span {
        font-size: 28px;
    }
}

@media only screen and (max-width: 1024px) {
    .iphone_description {
        margin-bottom: 0;
    }

    .iphone_pt2 .customize {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 992px) {
    .owl-carousel .for_img, .user {
        float: none;
    }

    .about_us p {
        margin-bottom: 20px;
    }

    .about_us span {
        font-size: 40px;
        margin-bottom: 25px;
    }

    .navbar-default .navbar-nav > li > a {
        padding: 42px 12px 0;
    }

    .iphone_description {
        padding-top: 0;
    }

    .Pricing h3 {
        margin-bottom: 30px;
    }

    .Pricing {
        padding-bottom: 115px;
    }

    .owl-dots {
        bottom: -100px;
    }

    .download a {
        margin-right: 0;
    }

    .choose .variant p {
        padding: 30px 10px 20px;
        font-size: 16px;
    }

    .choose .variant a {
        padding: 21px 28px 20px;
    }

    .choose .variant {
        padding-left: 5px;
        padding-right: 5px;
    }

    .owl-carousel p {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-default .navbar-nav > li > a {
        padding: 30px 5px 0;
        font-size: 12px;
    }

    .features .circle {
        width: 70px;
        height: 70px;
    }

    .features .circle:before {
        margin-top: 16px;
    }

    .phones {
        margin-top: 20px;
    }

    .features .feature span {
        font-size: 16px;
        margin-top: 15px;
    }

    .features p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .download a {
        max-width: 135px;
        min-width: 135px;
    }

    .contact_us .contact span {
        font-size: 12px;
    }

    .contact_us .letter:before, .contact_us .point:before, .contact_us .phone:before {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .choose .variant a {
        max-width: 140px;
        min-width: 140px;
    }
}

@media only screen and (max-width: 414px) {
    .contact_us .contact span {
        font-size: 10px;
    }

    .download a {
        margin-top: 30px;
        margin-right: 100px;
    }

    .download span {
        text-align: center;
    }
}

@media only screen and (max-width: 375px) {
    .choose .variant a {
        padding: 21px 23px 20px;
    }

    .download {
        text-align: center;
    }

    .download a {
        margin: 20px 0 0 0;
    }

    .about_us button {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 375px) {
    .choose .variant a {
        padding: 21px 14px 20px;
        max-width: 100px;
        min-width: 100px;
    }

    .btn {
        margin-bottom: 20px;
    }
}

/*@media only screen and (max-width: 375px) {*/
/*.block {*/
/*background-color: green;*/
/*}*/
/*}*/
