@charset "UTF-8";
@import url(bootstrap.min.css);
@import url(bootstrap-theme.min.css);
@import url(owl.carousel.min.css);
@import url(bootstrap-theme.min.css);
@import url("https://fonts.googleapis.com/css?family=Quicksand|Source+Sans+Pro:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400i&display=swap");
* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5 {
  margin: 0; }

.btn {
  color: white;
  border: 1px #454549 solid;
  border-radius: 3px;
  background-color: transparent;
  font-size: 14px;
  padding: 13px 0;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  display: inline-block;
  margin-right: 20px;
  transition: ease width 0.3s;
  min-width: 160px;
  max-width: 160px; }
  .btn:hover {
    background-color: #008ed6;
    border-color: #008ed6; }
  .btn:last-of-type {
    margin-right: 0; }

span {
  display: inline-block; }

.navbar-default .navbar-toggle:hover {
  background-color: #008ed6; }

.navbar-toggle {
  margin-top: 32px; }

a {
  color: white; }
  a:focus, a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer; }

ul {
  list-style: none;
  display: flex;
  justify-content: space-between; }
  ul li {
    display: inline-block; }

header {
  background-image: url("../images/photo.png");
  background-repeat: no-repeat;
  background-position: top center;
  -moz-background-size: 100%;
  /* Firefox 3.6+ */
  -webkit-background-size: 100%;
  /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%;
  /* Opera 9.6+ */
  background-size: cover;
  margin-bottom: 66px; }
  header .navbar-default .navbar-collapse, header .navbar-default .navbar-form {
    border: none; }
  header .navbar-default {
    border: none;
    background: none; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a {
  color: white;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 16px; }

.navbar-default .navbar-brand {
  color: white;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 24px; }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white;
    text-decoration: none; }

.navbar-brand {
  padding: 42px 15px; }

.nav > li > a {
  padding: 42px 12px; }

.navbar-nav li a {
  font-size: 16px;
  color: #fffefe;
  position: relative;
  padding-bottom: 0; }
  .navbar-nav li a:after {
    margin-top: 12px;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #008ed6;
    position: relative;
    top: 2px;
    opacity: 0;
    transition: 0.3s; }
  .navbar-nav li a:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #16115b;
    bottom: -2px;
    left: 50%;
    margin-left: -1px;
    z-index: 1;
    opacity: 0;
    transition: 0.3s; }

.navbar-nav > li:hover a {
  background-color: transparent; }
  .navbar-nav > li:hover a:after, .navbar-nav > li:hover a:before {
    opacity: 1; }

.heading, .mid {
  font-size: 36px;
  font-weight: 600;
  position: relative;
  padding-bottom: 30px; }
  .heading:after, .mid:after {
    top: 30px;
    content: "";
    display: block;
    width: 42px;
    height: 2px;
    background-color: #008ed6;
    position: relative; }
  .heading:before, .mid:before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: white;
    width: 2px;
    height: 2px;
    z-index: 1;
    bottom: 0;
    left: 19px; }

.mid:after {
  margin: auto; }
.mid:before {
  left: 50%; }

h3 {
  font-family: "Source Sans Pro", sans-serif;
  color: #008ed6;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 22px;
  text-transform: uppercase; }

.about_us {
  font-family: "Source Sans Pro", sans-serif; }
  .about_us span {
    color: white;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    display: inline-block;
    margin-bottom: 36px; }
  .about_us p {
    color: #999999;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 66px; }

.phones img {
  width: 100%;
  height: 100%; }

.btn.focus, .btn:focus, .btn:hover {
  color: white; }

.features {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  padding-bottom: 76px;
  margin-bottom: 66px;
  border-bottom: 1px solid #ededed; }

.features {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  padding-bottom: 76px;
  border-bottom: 1px solid #ededed; }
  .features p {
    color: #999999;
    font-size: 18px;
    max-width: 230px; }
  .features .feature {
    display: inline-block; }
    .features .feature span {
      color: #1a1a1a;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 16px;
      margin-top: 34px; }
  .features .circle {
    margin: auto;
    text-align: center;
    border: 2px solid #ededed;
    width: 90px;
    height: 90px;
    border-radius: 50%; }
    .features .circle:before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      color: #008ed6;
      font-size: 26px;
      margin-top: 26px; }

.laptop .circle:before {
  content: "\f108"; }

.work .circle:before {
  content: "\f013"; }

.finger .circle:before {
  content: "\f164"; }

.phone_1 .circle:before {
  content: "\f3cd"; }

.feature_icons {
  margin-top: 73px; }

.iphone_det {
  margin-bottom: 80px; }
  .iphone_det img {
    width: 100%;
    height: 100%; }

.iphone_description {
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 54px;
  margin-bottom: 208px; }
  .iphone_description p {
    font-size: 18px;
    color: #999999;
    margin-bottom: 41px;
    margin-top: 31px; }
  .iphone_description ul {
    list-style: none;
    display: block;
    font-size: 18px;
    color: #1a1a1a; }
  .iphone_description li {
    display: block;
    margin-bottom: 19px; }
    .iphone_description li:before {
      content: "";
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      color: #008ed6;
      font-size: 16px;
      width: 16px;
      margin-right: 10px;
      text-align: center; }
    .iphone_description li:first-of-type:before {
      content: "\f091"; }
    .iphone_description li:nth-child(2):before {
      content: "\f3cd"; }
    .iphone_description li:nth-child(3):before {
      content: "\f0e7"; }
    .iphone_description li:last-of-type:before {
      content: "\f3fd"; }

.iphone_pt2 {
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 40px; }
  .iphone_pt2 .customize p {
    font-size: 18px;
    color: #999999;
    margin-top: 29px; }
  .iphone_pt2 .iphone_laying img {
    width: 100%;
    height: 100%; }

.Pricing {
  background-image: url("../images/carousel_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -moz-background-size: 100%;
  /* Firefox 3.6+ */
  -webkit-background-size: 100%;
  /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%;
  /* Opera 9.6+ */
  padding-top: 64px;
  padding-bottom: 215px; }
  .Pricing span {
    color: white; }
  .Pricing .mid:before {
    background-color: #53565c; }

.owl-dots .owl-dot span {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: transparent;
  margin: 0 11px;
  border: 1px solid #4c484a;
  text-align: center; }

.owl-dots {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -140px;
  left: 0; }

.owl-dot.active span {
  background-color: white;
  width: 14px;
  height: 14px; }

.owl-carousel .for_img {
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  float: left;
  margin-right: 25px; }
  .owl-carousel .for_img img {
    width: 100%; }
.owl-carousel p {
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
  color: white;
  font-size: 24px;
  padding-left: 1px;
  text-align: left;
  margin: 90px 10px 30px; }
.owl-carousel span {
  display: block;
  margin: 0; }

.user {
  display: inline-block;
  float: left;
  padding: 10px 0;
  height: 60px; }
  .user span {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 600; }
    .user span:first-of-type {
      margin-bottom: 4px;
      font-weight: 400; }

/*
.right {
  float: right;
}*/
.download {
  background-color: #15141a;
  padding: 70px 0; }
  .download span {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 34px;
    color: white; }
    .download span span {
      font-weight: 700; }
  .download button {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 28px;
    background-color: #008ed6;
    border: 0;
    border-radius: 3px;
    display: inline-block;
    color: white;
    font-size: 14px;
    height: 50px; }

.choose {
  padding: 60px 0; }
  .choose span {
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    margin-bottom: 30px; }
  .choose .variant {
    padding-bottom: 28px;
    border: 1px solid #e0e0e0; }
    .choose .variant .name {
      padding: 29px 0 24px;
      font-size: 24px;
      font-weight: 700; }
    .choose .variant span {
      padding-top: 43px;
      display: block;
      font-family: "Source Sans Pro", sans-serif;
      text-align: center;
      margin: 0;
      line-height: 20px;
      color: #1a1a1a; }
      .choose .variant span:nth-child(2) {
        font-size: 60px;
        padding-bottom: 14px;
        border-top: 1px solid #e0e0e0; }
        .choose .variant span:nth-child(2) sup {
          font-size: 28px;
          font-weight: 400; }
      .choose .variant span:nth-child(3) {
        font-size: 18px;
        color: #999999;
        font-weight: 300;
        line-height: 28px;
        padding-bottom: 39px;
        border-bottom: 1px solid #e0e0e0; }
    .choose .variant p {
      padding: 49px 39px 47px;
      font-size: 18px;
      color: #999999;
      font-weight: 300; }
      .choose .variant p span {
        color: #008ed6;
        display: inline-block;
        font-weight: 300;
        font-size: 18px;
        padding: 0; }
    .choose .variant a {
      padding: 21px 43px 20px;
      color: #008ed6;
      font-size: 14px;
      background-color: transparent;
      font-weight: 700;
      border: 1px solid #e0e0e0;
      transition: 0.3s; }
    .choose .variant:hover a, .choose .variantfocus a {
      background-color: #008ed6;
      color: white; }
    .choose .variant:hover span.name, .choose .variantfocus span.name {
      color: #008ed6; }
    .choose .variant:hover span:nth-child(2), .choose .variant:hover span:nth-child(3), .choose .variantfocus span:nth-child(2), .choose .variantfocus span:nth-child(3) {
      color: white;
      background-color: #008ed6; }

.contact_us {
  padding-top: 60px;
  background-color: #ededed;
  position: relative; }
  .contact_us .mid {
    display: block; }
  .contact_us span {
    margin-bottom: 60px; }
  .contact_us .contact {
    margin-bottom: 10px; }
    .contact_us .contact span {
      display: block;
      color: #999999;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 0; }
  .contact_us .point:before, .contact_us .phone:before, .contact_us .letter:before {
    display: block;
    content: "\f3cd";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    color: #008ed6;
    font-size: 32px;
    margin-bottom: 33px; }
  .contact_us .point:before {
    content: "\f3c5"; }
  .contact_us .letter:before {
    content: "\f0e0"; }

form {
  position: absolute;
  bottom: -63px;
  font-size: 14px;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
  padding: 59px 66px 40px;
  background-color: #15141a; }
  form .form-group {
    margin-bottom: 20px; }
  form .btn {
    padding: 15px 33px;
    background-color: #008ed6;
    color: white;
    font-weight: 700; }
  form input.form-control {
    padding: 19px 17px;
    color: white;
    background-color: transparent;
    border: 1px solid #444348;
    border-radius: 3px;
    height: 48px; }
  form textarea.form-control {
    padding: 20px 20px 0;
    color: white;
    background-color: transparent;
    border: 1px solid #444348;
    border-radius: 3px;
    height: 188px;
    margin-bottom: 21px;
    resize: none; }

footer {
  padding: 55px 0 46px;
  background-color: #15141a; }

.soc_icons span {
  font-weight: 700;
  display: block; }
.soc_icons a:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  color: #444348;
  font-size: 18px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 32px; }
.soc_icons a:first-of-type:hover:before, .soc_icons a:first-of-type:focus:before {
  color: #008ed6; }
.soc_icons a:first-of-type:before {
  content: "\f1b4"; }
.soc_icons a:nth-child(2):hover:before, .soc_icons a:nth-child(2):focus:before {
  color: #008ed6; }
.soc_icons a:nth-child(2):before {
  font-family: "Font Awesome 5 Pro";
  content: "\f434"; }
.soc_icons a:nth-child(3):hover:before, .soc_icons a:nth-child(3):focus:before {
  color: #008ed6; }
.soc_icons a:nth-child(3):before {
  content: "\f099"; }
.soc_icons a:nth-child(4):hover:before, .soc_icons a:nth-child(4):focus:before {
  color: #008ed6; }
.soc_icons a:nth-child(4):before {
  content: "\f39e"; }
.soc_icons a:nth-child(5):hover:before, .soc_icons a:nth-child(5):focus:before {
  color: #008ed6; }
.soc_icons a:nth-child(5):before {
  content: "\f0e1"; }

/*# sourceMappingURL=styles.css.map */
