@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";
@import "owl.carousel.min.css";
@import "bootstrap-theme.min.css";

$main-font: 'Source Sans Pro', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Quicksand|Source+Sans+Pro:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400i&display=swap');
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.btn {
  color: white;
  border: 1px #454549 solid;
  border-radius: 3px;
  background-color: transparent;
  font-size: 14px;
  padding: 13px 0;
  text-transform: uppercase;
  font-family: $main-font;
  font-weight: bold;
  display: inline-block;
  margin-right: 20px;
  transition: ease width 0.3s;
  min-width: 160px;
  max-width: 160px;

  &:hover {
    background-color: #008ed6;
    border-color: #008ed6;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

span {
  display: inline-block;
}

.navbar-default .navbar-toggle:hover {
  background-color: #008ed6;
}

.navbar-toggle {
  margin-top: 32px;
}

a {
  color: white;

  &:focus, &:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;

  li {
    display: inline-block;
  }
}

header {
  background-image: url("../images/photo.png");
  background-repeat: no-repeat;
  background-position: top center;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: cover;
  margin-bottom: 66px;


  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
  }

  .navbar-default {
    border: none;
    background: none;
  }
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a {
  color: white;
  text-decoration: none;
  font-family: $main-font;
  font-weight: 600;
  font-size: 16px;
}

.navbar-default .navbar-brand {
  color: white;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 24px;

  &:hover, &:focus {
    color: white;
    text-decoration: none;
  }
}

.navbar-brand {
  padding: 42px 15px;
}

.nav > li > a {
  padding: 42px 12px;
}

.navbar-nav li a {
  font-size: 16px;
  color: #fffefe;
  position: relative;
  padding-bottom: 0;

  &:after {
    margin-top: 12px;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #008ed6;
    position: relative;
    top: 2px;
    opacity: 0;
    transition: 0.3s;
  }

  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #16115b;
    bottom: -2px;
    left: 50%;
    margin-left: -1px;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
  }
}

.navbar-nav > li {
  &:hover {
    a {
      background-color: transparent;

      &:after, &:before {
        opacity: 1;
      }
    }
  }
}

.heading {
  font-size: 36px;
  font-weight: 600;
  position: relative;
  padding-bottom: 30px;

  &:after {
    top: 30px;
    content: "";
    display: block;
    width: 42px;
    height: 2px;
    background-color: #008ed6;
    position: relative;
  }

  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: white;
    width: 2px;
    height: 2px;
    z-index: 1;
    bottom: 0;
    left: 19px;
  }
}

.mid {
  @extend .heading;

  &:after {
    margin: auto;
  }

  &:before {
    left: 50%;
  }
}

h3 {
  font-family: $main-font;
  color: #008ed6;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 22px;
  text-transform: uppercase;
}

.about_us {
  font-family: $main-font;

  span {
    color: white;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    display: inline-block;
    margin-bottom: 36px;
  }

  p {
    color: #999999;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 66px;
  }
}

.phones {
  img {
    width: 100%;
    height: 100%;
  }
}

.btn.focus, .btn:focus, .btn:hover {
  color: white;
}

.features {
  text-align: center;
  font-family: $main-font;
  font-weight: 400;
  padding-bottom: 76px;
  margin-bottom: 66px;
  border-bottom: 1px solid #ededed;
}

.features {
  font-family: $main-font;
  font-weight: 400;
  padding-bottom: 76px;
  border-bottom: 1px solid #ededed;

  p {
    color: #999999;
    font-size: 18px;
    max-width: 230px;
  }

  .feature {
    display: inline-block;

    span {
      color: #1a1a1a;
      font-family: $main-font;
      font-size: 16px;
      margin-top: 34px;
    }
  }

  .circle {
    margin: auto;
    text-align: center;
    border: 2px solid #ededed;
    width: 90px;
    height: 90px;
    border-radius: 50%;

    &:before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      color: #008ed6;
      font-size: 26px;
      margin-top: 26px;
    }

  }
}

.laptop {
  .circle {
    &:before {
      content: "\f108";
    }
  }
}

.work {
  .circle {
    &:before {
      content: "\f013";
    }
  }
}

.finger {
  .circle {
    &:before {
      content: "\f164";
    }
  }
}

.phone_1 {
  .circle {
    &:before {
      content: "\f3cd";
    }
  }
}

.feature_icons {
  margin-top: 73px;
}

.iphone_det {
  margin-bottom: 80px;

  img {
    width: 100%;
    height: 100%;
  }
}

.iphone_description {
  font-family: $main-font;
  padding-top: 54px;
  margin-bottom: 208px;

  p {
    font-size: 18px;
    color: #999999;
    margin-bottom: 41px;
    margin-top: 31px;
  }

  ul {
    list-style: none;
    display: block;
    font-size: 18px;
    color: #1a1a1a;
  }

  li {
    display: block;
    margin-bottom: 19px;

    &:before {
      content: "";
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      color: #008ed6;
      font-size: 16px;
      width: 16px;
      margin-right: 10px;
      text-align: center;
    }

    &:first-of-type {
      &:before {
        content: "\f091";
      }
    }

    &:nth-child(2) {
      &:before {
        content: "\f3cd";
      }
    }

    &:nth-child(3) {
      &:before {
        content: "\f0e7";
      }
    }

    &:last-of-type {
      &:before {
        content: "\f3fd";
      }
    }
  }
}

.iphone_pt2 {
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 40px;

  .customize {


    p {
      font-size: 18px;
      color: #999999;
      margin-top: 29px;
    }
  }

  .iphone_laying {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.Pricing {
  background-image: url("../images/carousel_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  padding-top: 64px;
  padding-bottom: 215px;

  span {
    color: white;
  }

  .mid {

    &:before {
      background-color: #53565c;
    }
  }
}

.owl-dots .owl-dot {
  span {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: transparent;
    margin: 0 11px;
    border: 1px solid #4c484a;
    text-align: center;
  }
}

.owl-dots {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -140px;
  left: 0;
}

.owl-dot.active span {
  background-color: white;
  width: 14px;
  height: 14px;
}

.owl-carousel {
  .for_img {
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    float: left;
    margin-right: 25px;

    img {
      width: 100%;
    }
  }

  p {
    font-family: $main-font;
    font-style: italic;
    color: white;
    font-size: 24px;
    padding-left: 1px;
    text-align: left;
    margin: 90px 10px 30px;
  }

  span {
    display: block;
    margin: 0;
  }
}

.user {
  display: inline-block;
  float: left;
  padding: 10px 0;
  height: 60px;

  span {
    font-family: $main-font;
    font-size: 16px;
    color: white;
    font-weight: 600;

    &:first-of-type {
      margin-bottom: 4px;
      font-weight: 400;
    }
  }
}

/*
.right {
  float: right;
}*/

.download {
  background-color: #15141a;
  padding: 70px 0;

  span {
    font-family: $main-font;
    font-weight: 300;
    font-size: 34px;
    color: white;

    span {
      font-weight: 700;
    }
  }

  button {
    font-family: $main-font;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 28px;
    background-color: #008ed6;
    border: 0;
    border-radius: 3px;
    display: inline-block;
    color: white;
    font-size: 14px;
    height: 50px;
  }
}

.choose {
  padding: 60px 0;

  span {
    display: block;
    font-family: $main-font;
    font-weight: 700;
    margin-bottom: 30px;
  }


  .variant {
    padding-bottom: 28px;
    border: 1px solid #e0e0e0;

    .name {
      padding: 29px 0 24px;
      font-size: 24px;
      font-weight: 700;
    }

    span {
      padding-top: 43px;
      display: block;
      font-family: $main-font;
      text-align: center;
      margin: 0;
      line-height: 20px;
      color: #1a1a1a;

      &:nth-child(2) {
        font-size: 60px;
        padding-bottom: 14px;
        border-top: 1px solid #e0e0e0;

        sup {
          font-size: 28px;
          font-weight: 400;
        }
      }

      &:nth-child(3) {
        font-size: 18px;
        color: #999999;
        font-weight: 300;
        line-height: 28px;
        padding-bottom: 39px;
        border-bottom: 1px solid #e0e0e0;
      }
    }

    p {
      padding: 49px 39px 47px;
      font-size: 18px;
      color: #999999;
      font-weight: 300;

      span {
        color: #008ed6;
        display: inline-block;
        font-weight: 300;
        font-size: 18px;
        padding: 0;
      }
    }

    a {
      padding: 21px 43px 20px;
      color: #008ed6;
      font-size: 14px;
      background-color: transparent;
      font-weight: 700;
      border: 1px solid #e0e0e0;
      transition: 0.3s;
    }

    &:hover, &focus {
      a {
        background-color: #008ed6;
        color: white;
      }

      span.name {
        color: #008ed6;
      }

      span {
        &:nth-child(2), &:nth-child(3) {
          color: white;
          background-color: #008ed6;
        }
      }
    }
  }
}

.contact_us {
  padding-top: 60px;
  background-color: #ededed;
  position: relative;

  .mid {
    display: block;
  }

  span {
    margin-bottom: 60px;
  }

  .contact {
    margin-bottom: 10px;

    span {
      display: block;
      color: #999999;
      font-family: $main-font;
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 0;
    }
  }

  .point, .phone, .letter {
    &:before {
      display: block;
      content: "\f3cd";
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      color: #008ed6;
      font-size: 32px;
      margin-bottom: 33px;
    }
  }

  .point {
    &:before {
      content: "\f3c5";
    }
  }

  .letter {
    &:before {
      content: "\f0e0";
    }
  }
}

form {
  position: absolute;
  bottom: -63px;

  .form-group {
    margin-bottom: 20px;
  }

  font-size: 14px;
  font-weight: 300;
  font-family: $main-font;

  .btn {
    padding: 15px 33px;
    background-color: #008ed6;
    color: white;
    font-weight: 700;
  }

  padding: 59px 66px 40px;
  background-color: #15141a;

  input.form-control {
    padding: 19px 17px;
    color: white;
    background-color: transparent;
    border: 1px solid #444348;
    border-radius: 3px;
    height: 48px;
  }

  textarea.form-control {
    padding: 20px 20px 0;
    color: white;
    background-color: transparent;
    border: 1px solid #444348;
    border-radius: 3px;
    height: 188px;
    margin-bottom: 21px;
    resize: none;
  }

}

footer {
  padding: 55px 0 46px;
  background-color: #15141a;
}

.soc_icons {
  span{
    font-weight: 700;
    display: block;
  }
  a {
    &:before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Brands";
      font-weight: 900;
      color: #444348;
      font-size: 18px;
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 32px;
    }

    &:first-of-type {
      &:hover, &:focus {
        &:before {
          color: #008ed6;
        }
      }

      &:before {
        content: "\f1b4";
      }
    }

    &:nth-child(2) {
      &:hover, &:focus {
        &:before {
          color: #008ed6;
        }
      }

      &:before {
        font-family: "Font Awesome 5 Pro";
        content: "\f434";
      }
    }

    &:nth-child(3) {
      &:hover, &:focus {
        &:before {
          color: #008ed6;
        }
      }

      &:before {
        content: "\f099";
      }
    }

    &:nth-child(4) {
      &:hover, &:focus {
        &:before {
          color: #008ed6;
        }
      }

      &:before {
        content: "\f39e";
      }
    }

    &:nth-child(5) {
      &:hover, &:focus {
        &:before {
          color: #008ed6;
        }
      }

      &:before {
        content: "\f0e1";
      }
    }
  }
}